/* Навигация */
 .navigation{
    overflow: hidden;
    background: #eff3f7;
    border-radius: 4px;
    margin-bottom: 26px;
 }
 .navigation .navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
 }
 .navigation .navigation-item {
   border-top: 2px solid #3ba8c0;
   margin: 0 11px;
 }
 .navigation .navigation-item:first-child{
    border-top: none;
 }
   /* Навигация текущий пункт меню */
 .navigation .navigation-item.current{
    background: #3ba8c0;
    margin: 0;
    border-bottom: none;
    padding-left: 11px;
    margin-bottom: -2px; /*Хак */
 }
 .navigation .navigation-item.current .navigation-link{
    color: #f9fafb;
    font-size: 22px;
 }
 /*Навигация текущий пункт меню конец*/
 .navigation .navigation-link {
    font-family: 'firasans-book';
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: #959aa8;
    margin-left: 16px;
    padding: 20px 0px;
 }
 .navigation .navigation-link:hover{
    color: #3ba8c0;
 }


.information{
  background: #eff3f7;
  border-radius: 5px;
  margin-bottom: 25px;
  width: 650px;
}
.link-background {
     background-color:#48CBE8;
     border-bottom: 17px solid #51DAF8;
     height: 117px;
     border-radius: 5px 5px 0px 0px;
}

.table-of-content-link {
  line-height: 125px;
  text-align: center;
  margin: 0px;
  color:#F9FAFB;
  font-family: 'firasans-book';
  font-size: 27px;
    font-weight: normal;
    font-style: normal;
}

.form {
  width: 400px;
  margin: 50px auto;
  padding-bottom: 200px;

}

.name {
  color: #A9AEB9;
  margin: 0px;
  padding-bottom: 7px;
}

.caption {
  color: #A9AEB9;
  margin: 0px;
  margin-bottom: 8px
}

.input {
    width: 180px;
    height: 30px;
    font-family: 'firasans-light';
    font-size: 14px;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 3px 3px;
    border: 1px solid #48cbe8;
    color: #A9AEB9;
}

.form .label {
  display: inline-block;
}

.you-mail {
  margin-left: 9px 
}

.you-message {
  width: 400px;
}

.textarea {
    width: 380px;
    height: 177px;
    border: 1px solid #48cbe8;
    border-radius: 3px 3px;
    font-family: 'firasans-light';
    font-size: 14px;
    padding: 10px;
    resize: none;
    color: #A9AEB9;
    margin-bottom: 19px;
}

.message {
  margin:0px;
  color: #A9AEB9;
  margin: 0px;
  padding-bottom: 7px;
}

.submit-one {
    float: left;
    padding: 2px;
    width: 140px;
    border: none;
    font-family: 'firasans-book';
    font-size: 19px;
    color: white;
    background:#48cbe8;
    background-position: -12px -49px;
    border-radius: 5px;
    height: 33px;
    width: 139px;
    box-shadow: 2px 2px 3px rgba(0,0,0, .5);
}

.submit-one:hover {
   background-position: -12px -98px;
     height: 33px;
     width: 139px
}

.submit-one:active {
  background-position: -12px -4px;
  height: 33px;
  width: 139px 
}

.submit-2 {
  float: right;
  padding: 2px;
  width: 140px;
  border: none;
  font-family: 'firasans-book';
  font-size: 19px;
  color: white;
  background:#48cbe8;
  background-position: -12px -49px;
  border-radius: 5px;
  height: 33px;
  width: 141px;
  box-shadow: 2px 2px 3px rgba(0,0,0, .5);
}

.submit-2:hover {
  background-position: -12px -98px;
  height: 33px;
  width: 139px
}

.submit-2:active {
  background-position: -12px -4px;
  height: 33px;
  width: 141px;
 
}

/*.submit-one .submit-2{
  display: block;
  background:#48cbe8;
  border: 1px solid #48cbe8;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0,0,0, .5);
  color: white;
  height: 33px;
  width: 139px;
}
.submit-2{
  background:#48cbe8;
  border: 1px solid #48cbe8;
  float: right;
  height: 33px;
  width: 139px;
}
.submit-2:hover {
   background-position: -12px -98px;
  height: 33px;
  width: 139px;
}*/


.captha-img {
  float: left;
  border: 1px solid #48cbe8;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 190px;
  height: 80px;*/

}

.captcha-input {
    margin: 28px 0px 0px 1px;
    width: 140px;
    height: 28px;
    color: #48cbe8;
    font-size: 13px;
    border: 1px solid #48cbe8;
    border-radius: 3px 3px;
    font-family: 'firasans-light';
    float: right;
    padding-left: 14px;
}

.captca-input::-webkit-input-placeholder {
  color: #48cbe8;
}

.input::-webkit-input-placeholder {
  color: #48cbe8;
}

.textarea::-webkit-input-placeholder {
  color: #48cbe8;
}

input[type="submit"]:focus { outline: none; }