 
/* Мои работы */
.page {
    float: right;
  width: 650px;  
  background: #eff3f7;
  border-radius: 5px;
  margin-bottom: 25px;
  width: 650px;
}
.titl {
  line-height: 70px;
  border-bottom: 2px solid #3ba8c0;
  width: 350px;
  text-indent: 21px;
  margin: 0px;
  color: #3ba8c0;
  font-family: 'firasans-book';
  font-size: 27px;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 1px;
}

.my-site {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.my-site .page-item {
  display: inline-block;
  vertical-align: top;
}

.my-site-item {
  position: relative;
    margin: 15px 15px;
    width: 179px;
    height: 125px;
    border: 2px solid rgb(81, 218, 248);
    border-radius: 5px;
    overflow: hidden;
    background: rgb(59, 168, 192);
}

.me-site-item {
  position: relative;
    margin: 15px 15px;
    width: 179px;
    height: 125px;
    border: 2px dashed rgb(81, 218, 248);
    border-radius: 5px;
    overflow: hidden;
    background: #edf8fc;
}
.wrap {
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  width: 179px;
  height: 125px;  
}
.tex{
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 17px;
  color: #D8D8D8;
  border-radius: 5px;   
  padding: 6px;
  transform: translate(-50%, -50%);
  border: 2px solid;
}
.cont .tex {
    height: 124px;
    text-align: center;
    width: 176px;
    position: absolute;
    top: 2px;
    left: 2px;
    box-sizing: border-box;
    background-color: rgba(1, 108, 164, 0.75);
    z-index: 20;
    opacity: 0;
}

/*.tex{
    text-decoration: none;
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 12px;
  color: #D8D8D8;
  border-radius: 5px;   
  transform: translate(-50%, -50%); 
}*/

.ready {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  font-weight: bold;
  width: 105px;
  font-family: 'firasans-light';
  color: #3BA8C0;
}

.newImg {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img {
  width: 100%;
  height: 100%;
}

.page-item .adress {
  font-size: 15px;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.page-item .info {
  font-size: 15px;
  display: block;
  text-align: center;
  color: rgb(109, 109, 109);
}

.page-item {
  margin-bottom: 20px;
  width: 212px;
} 

.img-link {
  text-decoration: none;
  color: #45ACC2;
}


/* всплывающая форма */


#new-progect-popup{
 /* display: none;*/
}

.modal-wrapper {
  width: 390px;
  background-color: #eff3f7;
  border-radius: 7px;
  overflow: hidden;
  -webkit-box-shadow: -2px 0 31px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 0 31px 2px rgba(0,0,0,0.75);
  box-shadow: -2px 0 31px 2px rgba(0,0,0,0.75);
}
.modal-header {
  background-color: #48cbe8;
  border-bottom: 9px solid #67dffa;
  padding: 13px 0 10px 12px;
  height: 43px;
}
.modal-title {
    height: 42px;
    background-color: #48cbe8;
    border-bottom: px #67dffa solid;
    font-family: "Fira Sans Regular";
    font-size: 25px;
    color: white;
    line-height: 44px;
    padding: 2px 0 0 4px;
    margin: 0;
    margin-bottom: 5px;
}
.popup-close {
  float: right;
    display: block;
    position: absolute;
    top: 10px;
    right: 12px;
    width: 25px;
    height: 25px;
    background: url("../picter/No.png");
    text-indent: -9999px;
}
.modal-body {
  width: 320px;
  margin: 0 auto;
}

.btn {
  border: none;
  font-family: 'firasans-book';
  color: #fff;
  font-size: 19px;
  background-color: #48cbe8;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  margin-bottom: 22px;
  padding: 8px 30px;
  -webkit-box-shadow: inset 0 -4px 4px -1px rgba(0,0,0,0.51);
  -moz-box-shadow: inset 0 -4px 4px -1px rgba(0,0,0,0.51);
  box-shadow: inset 0 -4px 4px -1px rgba(0,0,0,0.51);
}
.btn:hover {
  margin-top: 3px;
  margin-bottom:19px;
  box-shadow: none;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -ms-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
}

.form-group .label{
  display: block;
    font-family: 'fira_sansbook';
    font-size: 17px;
    color: #959aa8;
    font-weight: normal;
 }
.form-group{
 position: relative;
 }
 .input{
  display: block;
    margin: 0 auto;
    height: 40px;
    width: 100%;
    border: solid 1px #48cbe8;
    border-radius: 3px;
    box-sizing: border-box;
    padding-left: 20px;
    color: #48cbe8;
 }

.fileupload-lable{
  display: block;
  width: 40px;
  height: 41px;
  position: absolute;
  right: 0;
  background: url(../picter/cloud-hov.png) no-repeat;
  background-color: #48cbe8;
  border-radius: 0 4px 4px 0;
}
.fileupload{ /* хак, взятый из html5boilerplate */
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

 .textarea{
  border-radius: 2px;
    border:1px solid #48cbe8;
    color: #48cbe8;
    display: block;
    resize: none;
    width: 100%;
    min-height: 111px;
    box-sizing: border-box;
    padding-left: 20px;
    margin-bottom: 20px;
 }

/*Модальное окно  конец*/
/*placeholder начало*/
::-webkit-input-placeholder {color:#48cbe8;}
::-moz-placeholder          {color:#48cbe8;}/* Firefox 19+ */
:-moz-placeholder           {color:#48cbe8;}/* Firefox 18- */
:-ms-input-placeholder      {color:#48cbe8;}

/*placeholder конец*/
